<div th:fragment="maincontent">
    <div class="container">
        <div class="maincontent">
            <div class="grid_row">
                <div class="grid_cloumn_2">
                    <div class="box-left box-menu">
                        <h3 class="box-title"><i class="fa fa-list box-title-icon"></i> Hãng Sản Xuất</h3>
                        <ul class="categroy-list">
                            <li class="category-item ">
                                <a id="myElement"  href="">Hp</a>

                            </li>
                            <li class="category-item">
                                <a id="myElement1"  href="">Asus</a>
                            </li>
                            <li class="category-item">
                                <a id="myElement2"  href=""> Dell </a>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid_cloumn_2">
                    <div class="box-left box-menu">
                        <h3 class="box-title"><i class="box-title-icon fa fa-warning"></i> Sản phẩm mới </h3>
                        <!--  <marquee direction="down" onmouseover="this.stop()" onmouseout="this.start()"  > -->
                        <div class="grid_column_2">
                            <div class="product">
                                <div class="product_item text-center">
                                    <img th:src="@{img/3.png}" width="100" height="100">
                                    <div >
                                        <p class="name">Macbook Air 13 128GB MQD32SA/A (2017) </p>
                                        <b class="price">Giảm giá: 6.090.000 đ</b><br>
                                        <b class="sale">Giá gốc: 7.000.000 đ</b><br>
                                        <span class="view"><i class="fa fa-eye"></i> 100000 : <i
                                                class="fa fa-heart-o"></i> 10</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="product_item text-center">
                                    <img th:src="@{img/3.png}" width="100" height="100">
                                    <div >
                                        <p class="name">Macbook Air 13 128GB MQD32SA/A (2017) </p>
                                        <b class="price">Giảm giá: 6.090.000 đ</b><br>
                                        <b class="sale">Giá gốc: 7.000.000 đ</b><br>
                                        <span class="view"><i class="fa fa-eye"></i> 100000 : <i
                                                class="fa fa-heart-o"></i> 10</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="product_item text-center">
                                    <img th:src="@{img/3.png}" width="100" height="100">
                                    <div >
                                        <p class="name">Macbook Air 13 128GB MQD32SA/A (2017) </p>
                                        <b class="price">Giảm giá: 6.090.000 đ</b><br>
                                        <b class="sale">Giá gốc: 7.000.000 đ</b><br>
                                        <span class="view"><i class="fa fa-eye"></i> 100000 : <i
                                                class="fa fa-heart-o"></i> 10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-10 bor">

                <section id="slide" class="text-center">
                    <img th:src="@{img/anh1.jpg}" class="img-thumbnail">
                </section>

                <section class="box-main1">
                    <h3 class="title-main" style="text-align: center;">
                        <div class ="title-main-sp"><a href="">Sản Phẩm Bán Chạy</a></div>
                        
                    </h3>

                    <div class="home-product">
                        <div class ="grid_row_product text-center">
                            <div class ="grid_column_product">
                                <img th:src="@{img/4.png}" width="100px" height="100px">
                                <div class="info-item">
                                    <a href="">Macbook Air (2017)</a>
                                    <p><strike class="sale">19.000.000 đ</strike> <b class="price">11.000.000 đ</b></p>
                                </div>
                                <div class="hidenitem">
                                    <p><a href=""><i class="fa fa-search"></i></a></p>
                                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                                    <p><a href=""><i class="fa fa-shopping-basket"></i></a></p>
                                </div>
                            </div>
                            <div class ="grid_column_product">
                                <img th:src="@{img/4.png}" width="100px" height="100px">
                                <div class="info-item">
                                    <a href="">Macbook Air (2017)</a>
                                    <p><strike class="sale">19.000.000 đ</strike> <b class="price">11.000.000 đ</b></p>
                                </div>
                                <div class="hidenitem">
                                    <p><a href=""><i class="fa fa-search"></i></a></p>
                                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                                    <p><a href=""><i class="fa fa-shopping-basket"></i></a></p>
                                </div>
                            </div>
                            <div class ="grid_column_product">
                                <img th:src="@{img/4.png}" width="100px" height="100px">
                                <div class="info-item">
                                    <a href="">Macbook Air (2017)</a>
                                    <p><strike class="sale">19.000.000 đ</strike> <b class="price">11.000.000 đ</b></p>
                                </div>
                                <div class="hidenitem">
                                    <p><a href=""><i class="fa fa-search"></i></a></p>
                                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                                    <p><a href=""><i class="fa fa-shopping-basket"></i></a></p>
                                </div>
                            </div>
                            <div class ="grid_column_product">
                                <img th:src="@{img/4.png}" width="100px" height="100px">
                                <div class="info-item">
                                    <a href="">Macbook Air (2017)</a>
                                    <p><strike class="sale">19.000.000 đ</strike> <b class="price">11.000.000 đ</b></p>
                                </div>
                                <div class="hidenitem">
                                    <p><a href=""><i class="fa fa-search"></i></a></p>
                                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                                    <p><a href=""><i class="fa fa-shopping-basket"></i></a></p>
                                </div>
                            </div>
                        </div>
                        <div class ="grid_row_product text-center">
                            <div class ="grid_column_product">
                                <img th:src="@{img/4.png}" width="100px" height="100px">
                                <div class="info-item">
                                    <a href="">Macbook Air (2017)</a>
                                    <p><strike class="sale">19.000.000 đ</strike> <b class="price">11.000.000 đ</b></p>
                                </div>
                                <div class="hidenitem">
                                    <p><a href=""><i class="fa fa-search"></i></a></p>
                                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                                    <p><a href=""><i class="fa fa-shopping-basket"></i></a></p>
                                </div>
                            </div>
                            <div class ="grid_column_product">
                                <img th:src="@{img/4.png}" width="100px" height="100px">
                                <div class="info-item">
                                    <a href="">Macbook Air (2017)</a>
                                    <p><strike class="sale">19.000.000 đ</strike> <b class="price">11.000.000 đ</b></p>
                                </div>
                                <div class="hidenitem">
                                    <p><a href=""><i class="fa fa-search"></i></a></p>
                                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                                    <p><a href=""><i class="fa fa-shopping-basket"></i></a></p>
                                </div>
                            </div>
                            <div class ="grid_column_product">
                                <img th:src="@{img/4.png}" width="100px" height="100px">
                                <div class="info-item">
                                    <a href="">Macbook Air (2017)</a>
                                    <p><strike class="sale">19.000.000 đ</strike> <b class="price">11.000.000 đ</b></p>
                                </div>
                                <div class="hidenitem">
                                    <p><a href=""><i class="fa fa-search"></i></a></p>
                                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                                    <p><a href=""><i class="fa fa-shopping-basket"></i></a></p>
                                </div>
                            </div>
                            <div class ="grid_column_product">
                                <img th:src="@{img/4.png}" width="100px" height="100px">
                                <div class="info-item">
                                    <a href="">Macbook Air (2017)</a>
                                    <p><strike class="sale">19.000.000 đ</strike> <b class="price">11.000.000 đ</b></p>
                                </div>
                                <div class="hidenitem">
                                    <p><a href=""><i class="fa fa-search"></i></a></p>
                                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                                    <p><a href=""><i class="fa fa-shopping-basket"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>


</div>